* {
  box-sizing: border-box;
}

html,
body,
#mount {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

#mount {
  display: flex;
}

.simple-button {
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  width: 100%;
}

.simple-button:active {
  background-color: rgba(0,0,0,0.25);
}

.huge {
  font-size: 128px;
}

input[type='text'] {
  font-size: 24px;
  width: 100%;
}
